<hr>

<!-- Static comments -->
<!-- Partly based on Made Mistakes' comments.html file: -->
<!-- https://github.com/mmistakes/minimal-mistakes/blob/master/_includes/comments.html -->
<!-- Also partly based on Eduardo Boucas' reviews.html file -->
<!-- https://github.com/eduardoboucas/popcorn/blob/gh-pages/_includes/reviews.html -->

{% if site.data.comments[page.slug] %}

  <p>
    <h3>
    {% if site.data.comments[page.slug].size > 1 %}
      {{ site.data.comments[page.slug] | size }}
    {% endif %}
    Comments:
    </h3>
  </p>

  <hr>

  {% assign comments = site.data.comments[page.slug] | sort %}

  <p>
    {% for comment in comments %}
      <br>
      <legend>
        {% if comment[1].url %}
          <a href="{{ comment[1].url }}">
        {% endif %}
        <strong>{{ comment[1].name }}</strong>
        {% if comment[1].url %}
          </a>
        {% endif %}
      </legend>
      <em>{{ comment[1].date | date: "%B %d, %Y" }}</em>
      <p>{{ comment[1].message | markdownify }}</p>
      <hr>
    {% endfor %}
  </p>
{% endif %}

<!-- Comment form -->
  <h3>Post a comment:</h3>
  <form action="mailto:z9ff2pvkydjv@opayq.com" enctype="text/plain">
    <input name="Subject" id="Subject" type="hidden" value="Comment on: {{page.title}}" />
    <div>
      <legend>Message (<a href="https://kramdown.gettalong.org/syntax.html">Markdown</a> allowed)</legend>
      <textarea style="width:100%" name="body" id="body" rows="12"></textarea>
    </div>
    <input name="Submit" id="submit" type="submit" value="Submit comment via email" /><br/>
  </form>
  <p>Having touble submitting a comment? Email your comment to z9ff2pvkydjv [at] opayq [dot] com with the subject "{{page.title}}", and we'll publish them to the comments section.</p>
</p>

